---
layout: default
---
{% assign posts_count = (paginator.posts | size) %}

<div class="home">
   
    <p>Welcome.</p>
    <p>This is a book, but not like you've seen before. </p>
    <p>It's a work in progress, there will be no 'big reveal' moment where it gets published and you get to read it, you get to read it right now... before it's finished.</p>
    <p>Yeah, that's the weird bit, if you like it then you won't just be able flip to the next page and find the next chapter. What's live on this site right now is the current total that I've written, I'm not holding back - waiting to get it right - before I put it up on here.</p>
    <p>So let me know on <a href="#twitter">twitter</a> if you like it and please add suggestions / corrections to the <a href="https://github.com/JoshHarrington/draycore_site/issues">github issues page</a>.</p>
       
      
  {% if posts_count > 0 %}
    <div class="posts">
      {% for post in paginator.posts reversed %}
      
        {% assign post_minutes = post | strip_html | number_of_words | divided_by: 180 %}
        {% if post_minutes == 0 %}
          {% assign post_minutes = 1 %}
        {% endif %}

        <div class="post py3">
<!--          <p class="post-meta">{{ post.date | date: site.date_format }}</p>-->
                   
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
          <p class="post-summary">
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </p>
          {% if post_minutes %}
            <p class="post-meta">
              {{ post_minutes }} {{ site.text.post.minute_read }}
            </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    {% include pagination.html %}
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h3>
  {% endif %}
</div>
