<footer class="footer-post-list">

  <a href="{{site.url}}#contents" class="footer-post-list--title"><h2 class="h4">Previous sections</h2></a>
 
{% for post in site.posts reversed %}
  
  {% unless forloop.first %}
  <hr>
  {% endunless %}
  
  <a href="{{ post.url | prepend: site.baseurl }}" class="footer-post-link{% if post.url == page.url %} highlight{% endif%}">
    <h3 class="h3 post-title">{{ post.title }}</h3>
    <p class="post-summary">
      {% if post.summary %}
        {{ post.summary }}
      {% else %}
        {{ post.excerpt }}
      {% endif %}
    </p>
    {% if post.url == page.url %}
      <span class="footer-post-link--note">Current section</span>
    {% endif%}
  </a>

{% endfor %}

</footer>
