.site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.site-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  background-color: $footer-bg-color;
  border-top: $footer-border-top;
  color: $footer-color;
  font-size: $footer-font-size;
  font-weight: $footer-font-weight;
  padding: $footer-padding;
  text-align: center;
}


.footer-post-list {
  hr {
    margin: 0;
    border-bottom-color: #ebebeb;
  }
  >a {
    color: inherit;
    background-image: none;
    text-shadow:none;
    &:hover, &:focus, &:active {
      border: 0;
      color: inherit;
      text-decoration: none;
      background-image: none;
      text-shadow:none;
    }
  }
}

.footer-post-list--title {
  margin-bottom: 2em;
  display: block;
  .h3 {
    margin: 0;
  }
}

.footer-post-link {
  display: none;
  padding: 2em 1.5em;
  
  color: inherit;
  background-image: none;
  text-shadow:none;
  + hr {
    display: none;
  }
  
  &.highlight {
    background: white;
    display: block;
    & + hr {
      display: block;
    }
    & ~ .footer-post-link {
      display: block;
      & + hr {
        display: block;
      }
    }
  }
  &:hover, &:focus, &:active {
    border: 0;
    color: inherit;
    text-decoration: none;
    background-image: none;
    text-shadow:none;
  }
  .post-summary {
    font-size: 1.1em;
    margin-bottom: 0;
  }
  .post-title {
    margin-top: 0;
  }
}

.footer-post-link--note {
  margin-top: 1em;
  display: inline-block;
}